{% extends "base.html"%}

{% block title %} Question {% endblock %}

{% block content%}
{% load static %}

<h1 class="header">{{ question.title }}</h1>
<div class="question">
    <div class="row">
        <div class="col-sm-2">
            <img src="{% static 'img/user.png' %}" class="img-circle avatar">
            <div><a class="name" href="#">username</a> </div>
            <p style="padding-left: 35px;padding-top: 10px">
                <button type="button" class="btn btn-secondary btn-sm">
                    <img src="{% static 'img/like.png' %}" class='img-circle like'>
                </button>
                {{ question.likes }}
            </p>
        </div>
        <div class="col-sm-10">
            <div><a href="#">Question?</a>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <div>
                <a href="#">Answers(3)</a> Tags:
                <a href="#">Tag1</a>
                <a href="#">Tag2</a>
            </div>
        </div>

    </div>
</div>
{% for answer in question.answers %}
<div class="question" style="margin-left: 40px; background: #ADD8E6">
    <div class="row">
        <div class="col-sm-2">
            <img src="{% static 'img/user.png' %}" class="img-circle avatar">
            <div><a class="name" href="#">username</a> </div>
            <p style="padding-left: 35px;padding-top: 10px">
                <button type="button" class="btn btn-secondary btn-sm">
                    <img src="{% static 'img/like.png' %}" class='img-circle like'>
                </button>
                {{ answer.likes }}
            </p>
        </div>
        <div class="col-sm-10">
            <div><a href="#">Answer</a>
            </div>
            {{ answer.text }}
            <div class="form-check">
                <label class="form-check-label">
                    {% if question.isVote %}
                    <input class="form-check-input" type="checkbox" value=""> Correct!
                    {% else %}
                        {% if answer.isCorrect %}
                            <div class="answer-correct"> Лучший ответ!</div>
                        {% endif %}
                    {% endif %}
                </label>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div id="answerForm" class="basic" style="margin-top: 80px">
    <div class="form-group">
        <label for="exampleTextarea">Your answer: </label>
        <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Enter your answer here..."></textarea>
    </div>
    <button class="btn btnlog" type="submit">Answer</button>
</div>
{% endblock %}