{% extends "base.html"%}

{% block title %} Top questions {% endblock %}

{% block content %}
{% load static %}

<h3>Top questions:</h3>
{% for question in questions %}
<div class="question">
    <div class="row">
        <div class="col-sm-2">
            <img src="{% static 'img/user.png' %}" class="img-circle avatar">
            <div><a class="name" href="#">username</a> </div>
            <p style="padding-left: 35px;padding-top: 10px">
                <button type="button" class="btn btn-secondary btn-sm">
                    <img src="{% static 'img/like.png' %}" class='img-circle like'>
                </button>
                {{ question.likes }}
            </p>
        </div>
        <div class="col-sm-10">
            <div><a href="{% url 'question' question.id %}">{{ question.title }}</a>
            </div>
            {{ question.text }}
            <div>
                <a href="{% url 'question' question.id %}">Answers({{ question.count_answers }})</a> Tags:
                {% for tag in tags %}
                <a href="{% url 'questions_by_tag' tag %}"> {{ tag }} </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% include "paginator.html" %}

{% endblock %}